<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
  </head>
  <body>
    <section class="sign-Up-Form">
      <form action="/user" method="post" id="signUp-form">
        <label for="name">Name:</label>
        <input type="text" required name="name" id="name" />
        <label for="email">Email:</label>
        <input type="email" required name="email" id="email" />
        <label for="password">Password:</label>
        <input type="password" required name="password" id="password" />
      </form>
      <button form="signUp-form">Submit</button>
    </section>
  </body>
</html>
